.contenedorGeneralChat {
  display: flex;
  flex-direction: column;
  height: 98vh;
  width: 20vw;
  text-align: center;
}
.headerChat button {
  all: unset;
  font-size: 1.5vh;
  background-color: #125aa0;
  padding: 0.5rem;
  border-radius: 2rem;
  color: white;
  margin-top: 0.4rem;
  margin-bottom: 1.5vh;
}
.findChat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.findChat input {
  font-size: 1rem;
  margin-top: 0.5rem;
  border-radius: 2rem;
  border: none;
  width: 70%;
  padding: 2%;
}
.findChatButton {
  display: flex;

  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.listaChats {
  flex: 1;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
}
.listaChats::-webkit-scrollbar {
  background-color: transparent;
}
.contendorContactosChat {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 10vh;
  width: 100%;
  border-top: solid 1px rgb(105, 102, 102);
}
.contendorContactosChat:hover {
  background-color: #575555;
  color: white;
}

.contendorContactosChat img {
  height: max-content;
  margin-left: 2%;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  justify-content: start;
}
.contenedorTexto {
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  padding: 0;
}

@media (max-width: 1800px) {
  .findChat input {
    font-size: medium;
  }
}
/* tablet */
@media (max-width: 1024px) and (min-width: 601px) {
  .contenedorGeneralChat {
    width: 30vw;
  }
  .findChat {
    display: none;
  }
  .headerChat button {
    font-size: 1rem;
  }
  .listaChats {
    font-size: 1rem;
  }
  .listaChats img {
    height: 60%;
    width: 40%;
  }
  .contenedorTexto {
    font-size: 0.8rem;
  }
}

/* movil  */
@media (max-width: 600px) {
  .contenedorGeneralChat {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .headerChat button {
    width: 12vw;
    font-size: 0.6rem;
    padding: 0.5rem;
  }
  .findChat {
    display: none;
  }
  .listaChats {
    flex: 1;

    overflow-y: scroll;
    justify-content: center;
    align-items: center;
  }
  .contendorContactosChat {
    flex-direction: column;
    width: 20vw;
    margin-left: 1rem;
    text-align: center;
    height: 12vh;
  }

  .contendorContactosChat img {
    width: auto;
    height: 6vh;
    margin-left: 0;
    margin-top: 0.8rem;
  }
  .contenedorTexto {
    margin-left: 0;
    width: 90%;
    word-wrap: break-word;
  }
  .contenedorTexto h2 {
    font-size: 0.6rem;
  }
  .contenedorTexto span {
    display: none;
  }
}
