.contenedorFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(150, 147, 140, 0.445);
  height: 100vh;
  width: 80vw;
  border: solid black;
  font-size: 3rem;
}

.contenedorFormulario form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: max-content;
  width: max-content;
  justify-content: center;
  align-items: center;
}
.contenedorFormulario form input {
  all: unset;
  background-color: rgb(252, 252, 252);
  border-radius: 2rem;
  padding: 0.5rem;
}

.contenedorFormulario button {
  all: unset;
  margin: 1rem;
  border-radius: 2rem;
  background-color: rgb(255, 252, 249);
  padding: 1rem;
  box-shadow: 0 0 5px black;
}

.contenedorFormulario button:active {
  box-shadow: 0 0 10px black;
}

@media (max-width: 1024px) and (min-width: 700px) {
  .contenedorFormulario {
    font-size: 1rem;
  }
  .contenedorFormulario form {
    gap: 0.5rem;
  }
  .contenedorFormulario form input {
    padding: 0.5rem;
  }

  .contenedorFormulario button {
    margin: 0.3rem;
  }

  .contenedorFormulario button:active {
    box-shadow: 0 0 10px black;
  }
}
@media (max-width: 600px) {
  .contenedorFormulario {
    font-size: 0.6rem;
  }
  .contenedorFormulario form {
    gap: 0.5rem;
  }
  .contenedorFormulario form input {
    padding: 0.5rem;
  }

  .contenedorFormulario button {
    margin: 0.3rem;
  }

  .contenedorFormulario button:active {
    box-shadow: 0 0 10px black;
  }
}
