/* barra superior  */
.BarraContactoChat {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 2.5rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.BarraContactoChat img {
  width: auto;
  height: 10vh;
  border-radius: 50%;
  object-fit: cover;
}

.BarraContactoChatTexto h2 {
  margin-left: 5rem;
  font-size: 2rem;
}

.BarraContactoChatTexto span {
  font-size: 1rem;
  margin-left: 6rem;
  color: #666;
}

/* contenedor mensaje  */
.mensajesChat {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  height: 75vh;
  background-color: #f0e8e8c0;
  overflow-y: auto;
}

.mensajesChat::-webkit-scrollbar {
  background-color: transparent;
}

/* mensaje mio */
.me {
  align-self: flex-end;
  background-color: #d1f7c4;
  max-width: 70%;
  padding: 1.2rem 1.4rem;
  border-radius: 12px 12px 0 12px;
  margin-right: 4rem;
}

.me p {
  margin: 0;
  font-size: 1.2rem;
}

.me span {
  display: block;
  font-size: 0.9rem;
  margin: 0.5rem;
  text-align: right;
  color: #555;
}

/* mensajke user  */
.user {
  align-self: flex-start;
  background-color: #ffffff;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px 12px 12px 0;
}

.user p {
  margin: 0;
  font-size: 1.2rem;
}

.user span {
  display: block;
  font-size: 0.9rem;
  color: #555;
}

/* form */
.nuevoMensaje {
  display: flex;
  width: 100%;
  border-top: 1px solid #ddd;
  justify-content: space-around;
  background-color: #f0e8e8c0;
}

.nuevoMensaje input {
  flex: 1;
  padding: 1.5rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.nuevoMensaje button {
  padding: 1rem 1rem;
  border: none;
  width: 10%;
  border-radius: 2rem;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.nuevoMensaje button:hover {
  background-color: #125aa0;
}
.nuevoMensaje button:active {
  box-shadow: 0 1px 10px rgb(119, 116, 116);
}
