.contenedorMensajesChat {
  height: 100vh;
  width: 80vw;
  background-color: #f0e8e8c0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  overflow: auto;
}

.BienvenidaTexto {
  display: flex;
  font-size: 5vw;
  color: rgb(54, 51, 51);
  justify-content: center;
}
/* barra superior  */
.BarraContactoChat {
  display: flex;
  align-items: center;
  height: 10vh;
  overflow: hidden;
  padding: 1rem 1.5rem;
  background-color: #a79f9f;
}

.BarraContactoChat img {
  width: auto;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.BarraContactoChatTexto {
  width: 100%;

  justify-content: center;
  text-align: center;
}
.BarraContactoChatTexto h2 {
  font-size: 1.3vw;
}
.BarraContactoChatTexto span {
  font-size: 0.8vw;
  color: #666;
}

/* contenedor mensaje  */
.mensajesChat {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  scroll-behavior: smooth;

  gap: 2rem;
  padding: 1.5rem;
  height: 70vh;
  max-height: 70vh;
  overflow-y: auto;
}

.mensajesChat::-webkit-scrollbar {
  background-color: transparent;
}

/* mensaje mio */
.me {
  align-self: flex-end;
  background-color: #d1f7c4;
  max-width: 70%;
  padding: 1.2rem 1.4rem;
  border-radius: 12px 12px 0 12px;
  margin-right: 10rem;
  overflow: hidden;
}

.me p {
  margin: 0.2vw;
  font-size: 1.2vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.me span {
  display: block;
  font-size: 0.8vw;
  margin: 0.5rem;
  text-align: right;
  color: #555;
}

/* mensajke user  */
.user {
  align-self: flex-start;
  background-color: #ffffff;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px 12px 12px 0;
  margin-left: 10rem;
}

.user p {
  margin: 0.4vw;
  font-size: 1.2vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.user span {
  display: block;
  font-size: 0.8vw;
  color: #555;
}

/* form */
.nuevoMensaje {
  height: 8vh;
  width: auto;
  display: flex;
  border-top: 1px solid #ddd;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.nuevoMensaje input {
  padding-left: 1.5rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
  font-size: 1.2vw;
  width: 90%;
  height: 60%;
}

.nuevoMensaje button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  background-color: blue;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.2vw;
}

/* tablet */
@media (max-width: 1024px) and (min-width: 601px) {
  .contenedorMensajesChat {
    width: 50vh;
  }
  .BarraContactoChat {
    gap: 1rem;
    height: 8vh;
  }

  .BarraContactoChatTexto h2 {
    font-size: 2rem;
  }
  .BarraContactoChatTexto span {
    font-size: 1rem;
    color: black;
  }

  .me {
    margin-right: 0;
  }
  .me p {
    font-size: 1.2rem;
  }

  .me span {
    font-size: 0.8rem;
  }

  .user {
    margin-left: 0;
  }
  .user p {
    font-size: 1.2rem;
  }

  .user span {
    font-size: 0.8rem;
  }

  /* form */

  .nuevoMensaje input {
    margin: 0;
    font-size: 1.2rem;
  }

  .nuevoMensaje button {
    font-size: 1.2rem;
  }
}

/* mopvil  */
@media (max-width: 600px) {
  .contenedorMensajesChat {
    width: 80vw;
  }
  .BarraContactoChat {
    height: 8vh;
    padding: 0.5rem 0.5rem;
    padding-bottom: 1rem;
  }

  .BarraContactoChat img {
    height: 70%;
  }

  .BarraContactoChatTexto h2 {
    font-size: 1.1rem;
  }

  .BarraContactoChatTexto span {
    font-size: 0.75rem;
  }

  .mensajesChat {
    gap: 1rem;
    padding: 0.75rem;
    margin-top: 0.8rem;
  }

  .me,
  .user {
    max-width: 90%;
    margin: 0;
  }

  .me p,
  .user p {
    font-size: 0.8rem;
  }

  .nuevoMensaje {
    display: inline-flex;
    margin-top: 2rem;
    height: 8vh;
    padding: 0 0.5rem;
  }

  .nuevoMensaje input {
    height: 70%;
    font-size: 0.6rem;
    padding-left: 0.5rem;
  }

  .nuevoMensaje button {
    padding: 0.6rem 1rem;
    font-size: 0.6rem;
  }
}
