.contenedorGeneral {
  all: unset;
  height: 100vh;
  width: 99vw;
  display: flex;
  gap: 0.2vw;
}
.contenedorContactos {
  width: 20vw;
  height: 100vh;
  background-color: rgba(85, 74, 74, 0.452);
}
.contenedorChat {
  width: 80vw;
  height: 100vh;
}

@media (max-width: 1024px) {
  .contenedorContactos {
    width: 30vw;
  }
  .contenedorChat {
    width: 70vw;
  }
}

@media (max-width: 600px) {
  .contenedorContactos {
    width: 20vw;
  }
  .contenedorChat {
    width: 70vw;
  }
}
